@import "tailwindcss";

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.border-b, .border-t, .border{
    border-color: #d1d5dc;
}

.bg-opacity-60{
    background-color: rgba(0, 0, 0, 0.6);
}